<html>
	<head>
		<title> ROBOT CAR </title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	</head>
<body>

<div style=" height:40%; width: 40%; float:right;">

<center>
	<p style="color:#FF6347;font-weight:bold;font-size:30px;"> Raspberry pi Robot </p>
	<button href="#" id="up" style="font-size:37px;text-decoration:none;font-weight:bold;border-radius:9px;padding:12px;">  	&#9650;<br>Вперёд</button><br><br>
</center>
<br></br>

<button href="#" id="left" style="font-size:37px;text-decoration:none;float:left;font-weight:bold;border-radius:9px;padding:12px;"> &#9668;Налево</button>

<button href="#" id="right" style="font-size:37px; text-decoration:none;float:right;font-weight:bold;border-radius:9px;padding:12px;"> Направо 	&#9658;</button><br></br>
<br></br>
<br></br>

<center>
	<button href="#" id="down" style="font-size:37px;text-decoration:none;font-weight:bold;border-radius:9px;padding:12px;"> Назад <br> &#9660 </br></button>
</center>
<br></br>

<center>
	<button href="#" id="led_on" style="font-size:40px;text-decoration:none;color:#FF6347;font-weight:bolder;border-radius:9px;padding:20px;"> Включить фонари </button>
</center>
<br></br>

<center>
	<button href="#" id="led_off" style="font-size:40px;text-decoration:none;color:#0000CD;font-weight:bolder;border-radius:9px;padding:20px;"> Выключить фонари </button>
</center>

</div>

<script>
$( document ).ready(function(){
    $("#down").on("mouseover", function() {
     $.get('/backward');
     }).on('mouseout', function() {
     $.get('/stop');
    });
    $("#up").on("mouseover", function() {
     $.get('/forward');
     }).on('mouseup', function() {
     $.get('/stop');
    });
    $("#left").on("mouseover", function() {
     $.get('/right');
     }).on('mouseup', function() {
     $.get('/stop');
    });
    $("#right").on("mouseover", function() {
     $.get('/left');
     }).on('mouseup', function() {
     $.get('/stop');
    });
	 $("#led_on").on("mousedown", function() {
     $.get('/led_on');
    });
	$("#led_off").on("mousedown", function() {
     $.get('/led_off');
    });
});
</script>

</body>
</html>